<table>
  <tbody>
    <tr>
      <td>Title:</td>
      <td><%= @book.title %></td>
    </tr>
    <tr>
      <td>Body:</td>
      <td><%= @book.body %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_path(@book.id) %>
|
<%= link_to 'Back', '/books' %>
